.footer {
    color: #ffffff;
    padding: 40px 0 40px 0;
    background: #0B011E;
    .footer_title {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 13px;
    }
    .footer_subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FCFCFC;
    }
    .footer_icon {
        text-align: center;
        margin-bottom: 13px;
    }
}