$breakpoint-tablet: 768px;

.homepage {
  color: #ffffff;
  .community {
    background-image: url('../assets/images/community-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 0 60px 0;
    position: relative;

    .community_content {
      padding: 103px 0 250px 30px;
      font-style: normal;

      .community_title {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 32px;
      }

      .subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #FCFCFC;
      }

      .community_actions {
        display: flex;
       
        margin-top: 42px;
        @media only screen and (max-width: 991px) {
          flex-wrap: wrap;
          justify-content: center;
        }
      
        button {
          @media only screen and (max-width: 991px) {
            margin-bottom: 10px;
            width: 195px;
           
          }
          margin-right: 32px;
          background: #4F70FD;
          border-radius: 22px;
          color: #FCFCFC;
        }
      }

    }

    .crypto_section_container {
      box-sizing: border-box;

      @media only screen and (max-width: 600px) {
        padding: 135px 0;
      }
      @media only screen and (max-width: 991px) {
        padding: 135px 0;
      }

      .crypto_section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-top: 35px;

        @media only screen and (max-width: 600px) {
          padding-top: 0;
        }

        .crypto_wrapper {
          width: calc(100% - 84px);
          background: #1F0554;
          padding: 38px 42px;
          margin: auto;
          border: 0.5px solid #656161;
          border-radius: 50px;
          -webkit-box-shadow: 0px 2px 7px 0px rgb(0 0 0 / 50%);
          -moz-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, .5);
          box-shadow: 0 2px 7px #0000007f;

          @media only screen and (max-width: 600px) {
            padding: 38px 5px;
            width: 100%;
          }
          @media only screen and (max-width: 991px) {
            padding: 38px 45px;
            width: 100%;
          }

          .crypto_address_container {
            display: flex;
            margin-bottom: 35px;
            align-items: center;

            @media only screen and (max-width: 991px) {
              display: flex;
              margin-bottom: 35px;
              flex-flow: column;
              align-items: center;
            }

            .crypto_input_select {
              width: calc(80% - 20px);
              display: flex;
              background: #1A0E31;
              border: solid 1px #1A0E31;
              border-radius: 22px;
              margin-right: 20px;

              @media only screen and (max-width: 991px) {
                width: 100%;
                margin: unset;
                margin-bottom: 20px;
              }

              .select_address {
                width: 180px;

                svg {
                  color: #ffffff;
                }

                fieldset {
                  border: none;
                }
              }

              input {
                background-color: transparent;
                border: none;
                width: calc(100% - 200px);
                font-size: 18px;
                color: #FFFFFF;
              }

            }
          }
        }

        .crypto_section_header {
          text-align: center;
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 40px;
        }

        .socmed_wrapper {
          display: flex;
          justify-content: center;
          align-items: end;

          @media only screen and (max-width: 991px) {
            flex-wrap: wrap;
          }
          .media {
            margin: 20px;
          }
        }

        .crypto_btn_group {
          display: flex;
          justify-content: center;
          margin-top: 54px;

          @media only screen and (max-width: 991px) {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
          }

          button {
            margin: 20px;

            @media only screen and (max-width: 991px) {
              width: calc(50% - 6px);
              margin: 6px auto;
            }
          }
        }
      }
    }
  }

  .token {

    // height: 792px;
    .token_left_col {
      height: auto;
      background: #1E1B68;

      .buy_doge_swap {
        background: #1E1B68;
        text-align: center;
        margin-top: 295px;
        @media only screen and (max-width: 600px) {
          margin-top: 240px;
        }
        @media only screen and (max-width: 991px) {
          margin-top: 240px;
        }
      }
    }

    .token_right_col {
      height: auto;
      background: #141245;

      .buy_doge_nft {
        background: #141245;
        text-align: center;
        margin-top: 295px;
        @media only screen and (max-width: 600px) {
          margin-top: 80px;
        }
        @media only screen and (max-width: 991px) {
          margin-top: 80px;
        }
      }

    }

    .token_title {
      text-align: center;
      margin: 42px 0 42px 0;
      font-weight: 700;
      font-size: 36px;
    }

    .token_sutitle {
      font-size: 16px;
      text-align: center;
    }

    .token_action {
      button {
        margin: 20px;
      }

    }
  }

  .exchanges {
    background: #0B011E;
    height: 328px;
    color: #FFFFFF;

    .exchanges_title {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      padding: 40px 0 50px 0;
    }

    .exchanges_subtitle {
      text-align: center;
      font-size: 20px;
      color: #AAAAAA;
      padding: 0 0 50px 0;
    }

    .exchanges_slide {
      height: 80px;
    }
  }

  .about_section {
    // height: 460px;
    background: #141245;
    padding-top: 50px;

    .box_wrapper {
      padding: 42px 0 42px 0;

    }

    .about_title {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 30px;
    }

    .subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: justify;
      color: #FCFCFC;
    }
  }

  .baby_dog_card_section {
    background: #1E1B68;

    // height: 433px;
    .box_wrapper {
      padding: 42px 0 42px 0;

      .baby_doge_title {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 30px;
      }

      .subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: justify;
        color: #FCFCFC;
      }
    }
  }

  .rewards_section {
    background-color: #141245;
    padding: 95px 0 60px 0;
    .rewards_header {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
    }

    .rewards_subdesc {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #FCFCFC;
      padding: 32px 0 32px 0;
    }

    .left_col {
      display: grid;
      justify-content: end;
    }
  }

  .out_document {
    padding: 95px 0 60px 0;
    background: #1E1B68;

    .header {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
    }

    .document_select_wrapper {
      display: flex;
      align-items: center;
      padding: 50px 0 0 0;
      justify-content: center;

      .select_box {
        background: #1A0E31;
        border-radius: 22px;
        width: 780px;
        margin-right: 15px;

        fieldset {
          border: none;
        }

        svg {
          color: #ffffff;
        }
      }
    }
  }

  .baby_dog_media_section {
    padding: 95px 0 60px 0;
    background: #141245;
    height: 614px;

    .media_header {
      text-align: center;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
    }
  }

  .as_seen_in {
    padding: 40px 0 40px 0;
    background: #0B011E;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
    }
  }

  .paw_board {
    background: #1E1B68;
    padding: 95px 0 60px 0;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
    }

    .paw_board_card {
      margin-top: 50px;
    }
  }

  .faq_section {
    background: #141245;
    padding: 95px 0 60px 0;

    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 43px;
      text-align: center;
    }

    .faq_list {
      margin-top: 50px;
    }
  }

  .joi_our_community {

    background: #1E1B68;
    padding: 95px 0 60px 0;

    .follow_icon {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;

      .media {
        margin: 20px;
      }
    }
  }

  .crypto_cause {
    background: #0B011E;
    padding: 95px 0 60px 0;
  }

  .contact_us {
    background: #141245;
    padding: 95px 0 60px 0;

    .formControl {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
  }
}

.btn_primary {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  background: #4F70FD;
  border-radius: 22px;
  color: #FFFFFF;

  &:hover {
    background: #2b3d8d;
  }
}

.position_relative {
  position: relative !important;
}